body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
.lenta {
  display: flex;
  gap: 40px;
  padding: 10px 80px;
  font-size: 90px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.aikstele {
  display: flex;
  gap: 40px;
}
h2 {
  font-size: 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
button {
  line-height: 45px;
  font-size: 30px;
}
